body {
    background: #1B244A;
    margin: 0;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
}

#guest-score-el{
    background: #0a0001;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
    font-size: 90px;
    color: #F94F6D;
    width: 120px;
    margin: 20px;   
}

#home-score-el {
    background: #0a0001;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
    font-size: 90px;
    color: #F94F6D;
    width: 120px;
    margin: 20px;
}

.team {
font-family: 'Verdana';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 36px;
text-align: center;
color: #EEEEEE;
}
    
button {
font-style: Cursed Timer ULiL;
border: 2px solid #9AABD8;
border-radius: 5px;
cursor: pointer;
}

